<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>职业梦_数据选择</title>
<!-- <base target="_blank" /> -->
<meta name="description" content="content" />
<meta name="keywords" content="content" />
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/data_report.css" type="text/css" />
</head>
<body>
<div class="data_login">
	<div class="img_bg"><img src="/static/images/signin_bg.png" /></div>
	<div class="data_cont">
    	<p>
    		<a href="/data/dataIndex">日常数据</a>
    		<a href="/data/newcompany">新进主动B端</a>
    		<a href="/data/jobrank">职位英雄榜</a>
                            <a href="/data/commentdata/">评论数据浏览</a>
    	</p>
    </div>
</div>
</body>	
</html>
