<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>职业梦_日常数据</title>
<!-- <base target="_blank" /> -->
<meta name="description" content="content" />
<meta name="keywords" content="content" />
<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/data_report.css" type="text/css" />
</head>
<body style="background:#fff">
<div class="data_tab">
	<table class="table table-hover">
	    <caption>职业梦日常数据</caption>
	    <thead>
	        <tr>
		        <th>日期</th>
		        <th>时间</th>
		        <th>总注册</th>
		        <th>B端用户</th>
		        <th>C端用户</th>
		        <th>C端有投递贡献数</th>
		        <th>总投递数</th>
		        <th>总职位数</th>
	        </tr>
	   	</thead>
	   	<tbody>
	      	<tr>
		        <td>23048</td>
		        <td>23423</td>
		        <td>234234</td>
		        <td>234</td>
		        <td>234</td>
		        <td>234</td>
		        <td>234</td>
		        <td>234</td>
	        </tr>
	        <tr>
		        <td>23048</td>
		        <td>23423</td>
		        <td>234234</td>
		        <td>234</td>
		        <td>234</td>
		        <td>234</td>
		        <td>234</td>
		        <td>234</td>
	        </tr>
	    </tbody>
	</table>
</div>
</body>	
</html>