<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>职业梦_数据入口</title>
<!-- <base target="_blank" /> -->
<meta name="description" content="content" />
<meta name="keywords" content="content" />
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/data_report.css" type="text/css" />
</head>
<body>
<div class="data_login">
	<div class="img_bg"><img src="/static/images/signin_bg.png" /></div>
	<div class="data_cont">
		<form method="POST" action="/data/login/">
	    	<span><img src="/static/images/data_thin.png" alt="密码是多少？" title="密码是多少？" /></span>
	    	<input type="password" name="password" placeholder="密码" class="data_pass" />
	    	<input type="submit" value="登录" class="data_btn" />
    	</form>
    </div>
</div>
</body>	
</html>